canvas
{
	margin-left:2px;
	margin-right:2px;
	margin-top:auto;
	margin-bottom:auto;

	position:relative;
	float:left;
}

h2
{
	text-align:center;
}

.header
{
	width:225px;

	margin-left:auto;
	margin-right:auto;
}

.header_button
{
	width:70px;
}

.canvas_button
{
	width:20px;
	height:50px;

	margin-top:auto;
	margin-bottom:auto;
	
	margin-left:2px;
	margin-right:2px;

	position:relative;
	float:left;
}

.panel_div
{
	
	width:432px;
	height:50px;

	padding-top:15px;
	padding-bottom:15px;

	margin-left:auto;
	margin-right:auto;

}


.frame_button
{
	/*width:100px;
	
	margin-left:auto;
	margin-right:auto;
	*/
}
body
{
	/*width:600px;

	margin-left:auto;
	margin-right:auto;
	*/
}

input
{
	width:50px;
}
